@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

// colors
$primary: #2a99d6;

// fonts
$font-family-sans-serif: Cabin, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;